body{
    margin: 0px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.left img{
    height: 70px;
    width: 70px;
    padding: 20px 20px 0px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: end;
    margin: 20px;
    padding: 0;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
  }
  

.right {
    align-items: center;
    padding: 0px;
    margin-top: 10px;
}

.body1{
    display: flex;
    padding:20px 50px 40px;
    justify-content: center;
    background-color: #1f2937;
    gap: 300px;
    color: #f9faf8;
    ;
}

.paragraph{
    padding-top: 30px;
}
.p1{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}
.p2{
    color: #e5e7eb;
    font-size: 25px;
}
    

img{
    height: 300px;
    width: 400px;
}

.body2{
    display: flex;
    font-size: 46px;
    /* font-weight: bold; */
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px;
    margin: 60px;
}

.body3 img{
    border-radius: 15px;
    max-width: 300px;
    max-height: 300px;
}

.body3{
    display: flex;
    justify-content: center;
    gap: 90px;
    text-align: center;
    font-size: 25px;
    color: #282829;
    margin: 0px 50px 60px;

}

.body4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 190px 50px;
    text-align: justify;
    padding: 50px;
    background-color: rgb(244, 255, 255);
    font-size: 25px;
    
}

.body5{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin: 30px 190px 50px;
    background-color: #3882f6;
}

button{
    
    background-color: #3882f6;
    border-color: white;
    padding: 10px 30px 10px;
    color: white;
    border-radius: 5px;
    margin-top: 35px;
    margin-right: 50px;
}

.p3{
    font-size: 40px;
    margin: 0;
    color: white;
    
}

.p4{
    font-size: 20px;
    color: white;
    margin: 0;
}

.body55{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}



